[credential "https://github.com"]
	helper = 
	helper = !/home/george/miniconda3/bin/gh auth git-credential
[user]
	name = Zhiyang Zuo
	email = zzuo@umass.edu
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/george/miniconda3/bin/gh auth git-credential
